{% load i18n static %}
<input type="hidden" name="{{ name }}" id="{{attrs.id}}" value="{{ value }}"/>


<img class="camera-preview" id="{{attrs.id}}-image" width="{{ width }}" height="{{ height }}"/>

<script type="text/javascript">
    $(window).load(function () {
        var previous_data = $("#{{ attrs.id }}").attr('value');
        if (previous_data != "") {
            $("#{{ attrs.id }}-image").attr('src', previous_data);
        }
    });
    $(window).load(function () {
        window.cameramonitor = new CameraMonitor({width:{{ camera_width }}, height:{{ camera_height }},
            swffile: "{% static 'webcam/jscam.swf' %}", quality:85, mode:"callback"})
    })
</script>
<br />
<input type="button" class="btn" value='{% trans 'Take a picture' %}'
       onclick="window.cameramonitor.show_monitor('{{ attrs.id }}', '{{ attrs.id }}-image')"/>
